{% extends "layout.html "%}

{% block body %}
    <h3>Dashboard</h3>
    <br>
    <p><strong>Welcome <i>{{session["username"]}}</i></strong></p>
    <hr>
    <a class="btn btn-danger" href="/addarticle">Add Article</a>
    {% if articles %}
        <br>
        <br>
        <div class="row">
            {% for article in articles %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem; margin-bottom:10px;">
                        {% if article.imgurl %}
                            <img class="card-img-top" src="{{article.imgurl}}" alt="Card image cap" style="height: 190px;">
                        {% else %}
                            <img class="card-img-top" src="https://cdn.codecarrot.net/images/files-and-folders.jpg" alt="Card image cap" style="height: 190px;">
                        {% endif %}
                        <div class="card-body">
                          <h5 class="card-title">{{article.title}}</h5>
                          <p class="card-text">Author : <i>{{article.author}}</i></p>
                          <a href="/article/{{article.id}}" class="btn btn-primary"><strong>Article</strong></a>
                          <a href="/article/edit/{{article.id}}" class="btn btn-success"><strong>Update</strong></a>
                          <a href="/article/delete/{{article.id}}" class="btn btn-danger"><strong>Delete</strong></a>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <br>
        <br>
        <div class="alert alert-danger">You don't have any articles yet</div>
    {% endif %}

{% endblock body %}