{% extends "layout.html" %}

{% block body %}
    <h3>Welcome To Python Flask Web Framework Blog Project</h3>
    <hr>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium inventore dolor quibusdam, maxime cupiditate, mollitia a officia possimus obcaecati veritatis quas nisi eligendi est, atque voluptatibus repellat fugit architecto deleniti.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nam ratione minima? Commodi quae maiores quisquam dicta accusantium repellat, exercitationem fugiat aliquid voluptates maxime, eos numquam eligendi soluta placeat harum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laborum omnis saepe et atque porro hic, aspernatur nam similique consectetur blanditiis corporis molestiae. Harum laudantium, vel totam culpa perspiciatis perferendis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati maxime quaerat vitae fugit id aliquid molestiae, ipsa voluptatibus repellendus quia facilis eius numquam iure expedita! Fugit perspiciatis accusamus aspernatur alias.
    </p>
    <br>
    <img src="https://images.wallpaperscraft.com/image/single/northern_lights_aurora_starry_sky_120234_2560x1440.jpg" alt="" style="width: 100%;height:auto;">
{% endblock body %}