{% extends "layout.html" %}

{% block body %}
    {% if article %}
        <div class="row">
            <div class="col-sm-9" style="float: left; display:block; padding:5px;">
                <h4>{{article.title}}</h4>
                <hr>
                <p><strong>Author : </strong><i>{{article.author}}</i></p>
                <hr>
                <p><strong>Date : </strong><i>{{article.created_date}}</i></p>
                <hr>
                <p><strong>Image</strong></p>
                {% if article.imgurl %}
                    <img src="{{article.imgurl}}" alt="articleImg" style="width: 100%; height:auto">
                {% else %}
                    <img src="https://cdn.codecarrot.net/images/files-and-folders.jpg" alt="articleImg" style="width: 100%; height:auto">
                {% endif %}
                <hr>
                <p><strong>Content</strong></p>
                <hr>
                {{article.content | safe}} 

            </div>
            <div class="col-sm-3" style="float: right;">
                <h3>Other Articles</h3>
                <hr>    
                {% for x in articles %}
                    {% if x.id != article.id %}
                        <div class="card" style="width: 18rem;margin-bottom:10px;">
                            {% if x.imgurl %}
                                <img class="card-img-top" src="{{x.imgurl}}" alt="Card image cap" style="height: 190px;">
                            {% else %}
                                <img class="card-img-top" src="https://cdn.codecarrot.net/images/files-and-folders.jpg" alt="Card image cap" style="height: 190px;">
                            {% endif %}
                            <div class="card-body">
                            <h5 class="card-title">{{x.title}}</h5>
                            <p class="card-text">Author : <i>{{x.author}}</i></p>
                            <a href="/article/{{x.id}}" class="btn btn-primary"><strong>Go Article</strong></a>
                            </div>
                        </div>
                    {% endif %}
                
            {%  endfor %}
                







            </div>
        </div>
    {% else %}
        <div class="alert alert-warning"><strong>There is no such article.</strong></div>
        <a href="/articles" class="btn btn-danger" style="float: right;"><strong>Go To Articles For Other Articles</strong></a>
    {% endif %}
    
{% endblock body %}